h1,h2{
  text-align: center;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  padding: 5px;
  font-size: 20px;
}

/* ---Section--- */

.container {
  max-width: 850px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 220px;
}

.image-container {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.image-details {
  height: 70vh;
}